/* ============ 1150px ================= */
@media(max-width: 1150px){
    /* ======== navbar ============= */
    .navbar .logo a{
        margin-right: 100px;
        max-width: 110px;
    }
    .navbar .nav-menu li{
        padding: 20px;
    }
}
/* ============ 1024px ================= */
@media(max-width: 1024px){
    /* ======== navbar ============== */
    .navbar .logo a{
        max-width: 130px;
        margin-right: 50px;
    }
    .navbar .nav-menu li{
        padding: 0 18px;
    }
    .navbar .cmn-btn{
        padding: 18px;
    }
    /* =========== create ============ */
    .next,
    .prev{
        top: 20%;
    }
    .prev,
    .next i {
    font-size: 40px;
    }
}
/* ============ 991px ================= */
@media(max-width: 991px){
    /*============ navbar ================  */
    .navbar{
        justify-content: space-between;
    }
    .navbar .logo a{
        max-width: 158px;
        margin-right: 0;
    }
    .navbar .btn{
        display: flex;
    }
    .navbar .cmn-btn{
        margin-left: 0;
    }
    .navbar .nav-menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1;
    }
    .navbar .nav-menu.active{
        transform: translateX(0);
    }
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(7px);
        background: #fff;
        z-index: 1;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-7px);
        background: #fff;
        z-index: 1;
    }
    .navbar .nav-menu li{
        padding: 20px 0;
    }
    .navbar .nav-menu li a{
        font-size: 20px;
        color: #fff;
    }
    /* ============= program ============ */
    .program{
        padding: 80px 0;
    }
    .program .row .col-30{
        max-width: 50%;
        flex: 0 0 50%;
    }
    .program .row .card{
        margin-bottom: 20px;
    }
    /* ============= about ============ */
    .about .row .col-50{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .about .row .col-50:nth-child(2){
        padding-left: 15px;
    }
    .about .col-50 img{
        width: 100%;
        margin-bottom: 20px;
    }
    .about h3{
        display: none;
    }
    .about .cmn-btn{
        padding: 15px;
    }
    /* ============ create ============== */
    .create .prev{
        right: 25%;
    }
    /* ============ face =========== */
    .face .col-50{
        padding: 70px 15px;
    }
    /* ================ face ============== */
    .face .col-40{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .face .col-40 img{
        width: 100%;
    }
    .face .col-50{
        max-width: 100%;
        flex: 0 0 100%;
    }
    /* =========== footer ================= */
    .footer .col-20{
        max-width: 50%;
        flex: 0 0 50%;
        text-align: center;
    }
    .footer .col-20 .social{
        justify-content: center;
    }
    .footer .col-20:nth-child(5){
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
}
/* ============ 767px ================= */
@media(max-width: 767px){
    /* ========= banner ============ */
    .banner h1{
        font-size: 80px;
    }
    /* ============= program ============ */
    .program{
        padding: 50px 0;
    }
    .program .head h2{
        margin-bottom: 50px;
    }
    .program .row .col-30{
        max-width: 100%;
        flex: 0 0 100%;
    }
    /* ========== about ============= */
    .about{
        padding: 50px 0;
    }
    .about .col-50 h2{
        margin-bottom: 60px;
    }
    /* =========== create ============ */
    .create{
        padding: 50px 0;
    }
    .create h2{
        margin-bottom: 60px;
    }
    
    .prev,
    .next i {
    font-size: 35px;
    }
    /* ========== stories =========== */
    .stories{
        padding: 50px 0;
    }
    .stories .head h2{
        margin-bottom: 50px;
    }
    /* ============ face =========== */
    .face .col-50 h2{
        margin-bottom: 50px;
    }
    /* =========== footer ============= */
    .footer .col-20{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
}
/* ========== 640px ========== */
@media(max-width: 640px){
    .next,
    .prev{
        top: 12%;
    }
}
/* ============ 575px ================= */
@media(max-width: 575px){
    /* ========= navbar =========== */
    .navbar .logo a{
        max-width: 140px;
    }
    .navbar .cmn-btn{
        padding: 14px;
    }
    /*============= banner ===========*/
    .banner h1{
        font-size: 60px;
    } 
    /*============ about ==============  */
    .about .col-50 h2{
        font-size: 40px;
    }
    .about .row{
        padding: 0;
    }
    /* =========== create =========== */
    .create h2{
        font-size: 40px;
    }
    /* ========== stories =========== */
    .stories h2{
        font-size: 40px;
    }
}
/* ============ 480px ================= */
@media(max-width: 480px){
    /* ========== banner =========== */
    .banner h1{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .banner .head .h3-title{
        font-size: 25px;
    }
    .banner .cmn-btn{
        padding: 10px;
    }
    /* ============= program ============ */
    .program{
        padding: 40px 0;
    }
    .program .head h2{
        margin-bottom: 40px;
    }
    .program .head h2::after{
        display: none;
    }
    .program .head h2::before{
        display: none;
    }
    /* =========== about ============ */
    .about .cmn-btn{
        padding: 10px;
    }
    /* ============ create ============ */
    .create h2{
        margin-bottom: 50px;
        font-size: 30px;
    }
    .next,
    .prev{
        top: 13%;
    }
    .prev,
    .next i {
    font-size: 30px;
    }
    /* ========= face =============== */
    .face h2{
        font-size: 40px;
    }
    .face .col-50{
        padding: 50px 15px;
    }   
    .face .upper,
    .lower{
        flex-direction: column;
    } 
    .face .col-50 figure{
        margin-bottom: 20px;
    }
}
/* ============ 375px ================= */
@media(max-width: 375px){
    /* ========= navbar ========== */
    .navbar .logo a{
        max-width: 120px;
    }
    .navbar .cmn-btn{
        padding: 10px;
    }
    /* ========== banner =========== */
    .banner .cmn-btn{
        padding: 10px;
    }
    /* ========== stories =========== */
    .stories h2{
        font-size: 30px;
    }
}
/* ============ 320px ================= */
/* @media(max-width: 320px){
    
} */