/* ============= g-font- roboto =================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
body{
    font-size: 16px;
    font-family: "Roboto", serif;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.col-20{
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 15px;
}
.col-30{
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
h1{
    font-size: 100px;
    text-transform: uppercase;
    color: var(--primary-white);
}
h2{
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
}
:root{
    --primary-white: #ffffff;
    --primary-brown1:#D09172;
    --primary-brown:#7E3C24;
    --primary-black1: #333333;
    --primary-black: #161715;
    --primary-yellow: #edbd00;
}
.cmn-btn {
    padding: 14px 20px;
    background: linear-gradient(#f4e07a, #c1963c);
    border-radius: 50px;
    color: var(--primary-black);
    text-transform: uppercase;
    display: inline-block;
}
.cmn-btn:hover{
    background: var(--primary-brown1);
    color: var(--primary-white);
}
/* ========= navbar ============== */
.header {
    padding: 10px 0;
}
.navbar,
.nav-menu {
    display: flex;
    align-items: center;
}
.navbar .logo a {
    display: block;
    max-width: 158px;
    margin-right: 115px;
    margin-top: 10px;
}
.navbar .nav-menu li {
    padding: 0 25px;
}
.navbar .nav-menu li a {
    text-transform: uppercase;
    transition: 0.5s all ease;
    color: var(--primary-black);
}
.navbar .nav-menu li a:hover {
    color: var(--primary-brown1);
}
.navbar .cmn-btn {
    margin-left: 25px;
    font-size: 15px;
    font-weight: 600;
}
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
}
.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-black);
    transition: all 0.3s ease;
}
/* ============= banner ================ */
.banner{
    display: flex;
    align-items: center;
    min-height: 420px;
    background: url(./image/test-banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
/* ================ video ============== */
.video{
    padding: 100px 0;
}
.video .head{
    text-align: center;
    /* max-width: 640px; */
}
.video span{
    color: var(--primary-brown1);
    font-weight: 800;
}
.video h2{
    margin-bottom: 68px;
    position: relative;
}
.video h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    background: var(--primary-brown1);
    bottom: -50%;
    left: 45%;
    border-radius: 10px;
}
.video h2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: var(--primary-brown);
    bottom: -50%;
    left: 47%;
    border-radius: 10px;
}
.video p{
    margin-bottom: 34px;
}
.video .col-30 .card{
    margin-bottom: 30px;
}
.video .card img{
    width: 100%;
}
.video .cmn-btn{
    padding: 20px;
    background: var(--primary-brown1);
    color: var(--primary-white);
    display: inline-block;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s ease;
}
.video .btn{
    text-align: center;
}
.video .cmn-btn:hover{
    background: var(--primary-brown);
}
/* =============== clients ================ */
.clients{
    padding: 100px 0;
    background: linear-gradient(#FFF7F3,#FFF7F3);
    position: relative;
}
.clients h2{
    text-align: center;
    margin-bottom: 93px;
    position: relative;
}
.clients span{
    color: var(--primary-brown1);
    font-weight: 800;
}
.clients h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    background: var(--primary-brown1);
    bottom: -50%;
    left: 45%;
    border-radius: 10px;
}
.clients h2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: var(--primary-brown);
    bottom: -50%;
    left: 47%;
    border-radius: 10px;
}
.clients .col-30 .card{
    margin-bottom: 82px;
}
.clients .col-30 .card img{
    margin-bottom: 25px;
    width: 100%;
}
.clients .col-30 .card .content{
    text-align: center;
}
.clients .col-30 .card .content i{
    color: var(--primary-yellow);
    margin-bottom: 21px;
}
.clients .col-30 .card .content p{
    line-height: 1.5;
    margin-bottom: 26px;
    /* max-width: 301px; */
}
.clients .col-30 .card .content h3{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}
.clients .col-30 .card .content span{
    color: var(--primary-black);
    font-weight: normal;
}
.clients .cmn-btn{
    padding: 20px;
    background: var(--primary-brown1);
    color: var(--primary-white);
    display: inline-block;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s ease;
}
.clients .btn{
    text-align: center;
}
.clients .cmn-btn:hover{
    background: var(--primary-brown);
}
.clients h4{
    font-size: 110px;
    color: var(--primary-brown1);
    rotate: 90deg;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    right: -35%;
    opacity: 0.2;
}
/* ============= footer =============== */
.footer {
    padding-top: 63px;
    background: var(--primary-black);
}
.footer .container .row {
    margin-bottom: 40px;
}
.footer .col-20 .logo a {
    display: block;
    margin-bottom: 32px;
}
.footer .col-20 .social {
    display: flex;
}
.footer .col-20 .social i {
    padding: 10px;
    border-radius: 100%;
    background: var(--primary-black1);
    color: var(--primary-white-2);
    margin: 0 6px;
    transition: 0.5s all ease;
}
.footer .col-20 .social i:hover {
    color: var(--primary-yellow);
}
.footer .col-20 .h3-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--primary-yellow);
    margin-bottom: 42px;
    position: relative;
}
.footer .col-20 .h3-title::before {
    content: "";
    width: 52px;
    height: 2px;
    background-color: var(--primary-white);
    position: absolute;
    top: 35px;
}
.footer .col-20 li {
    padding: 11px 0;
}
.footer .col-20 li a {
    text-transform: capitalize;
    color: var(--primary-white);
    transition: all 0.5s ease;
}
.footer .col-20 li a:hover {
    color: var(--primary-yellow);
}
.footer .col-20 .contact li:nth-child(1) {
    color: var(--primary-white);
}
.footer .col-20 .contact span {
    margin-left: 15px;
}
.footer .container-fluid {
    border-top: 1px solid #f8edf9;
}
.footer .container-fluid .footer-lower {
    text-align: center;
    padding: 19px 0 32px 0;
}
.footer .container-fluid .footer-lower a {
    color: var(--primary-white);
}
.footer .container-fluid .footer-lower span {
    transition: 0.5s all ease;
}
.footer .container-fluid .footer-lower span:hover {
    color: var(--primary-yellow);
}

/* ============ responsive ============== */

/* ========== 1150px =========== */
@media(max-width:1150px){
    /*============== navbar ===============*/
    .navbar .logo a{
        margin-right: 100px;
        max-width: 110px;
    }
    .navbar .nav-menu li{
        padding: 20px;
    }
}
/* ============ 1024px ================= */
@media(max-width: 1024px){
    /* ======== navbar ============== */
    .navbar .logo a{
        max-width: 130px;
        margin-right: 50px;
    }
    .navbar .nav-menu li{
        padding: 0 18px;
    }
    .navbar .cmn-btn{
        padding: 18px;
    }
}
/* ============ 991px ================= */
@media(max-width: 991px){
    /*============ navbar ================  */
    .navbar{
        justify-content: space-between;
    }
    .navbar .logo a{
        max-width: 158px;
        margin-right: 0;
    }
    .navbar .btn{
        display: flex;
    }
    .navbar .cmn-btn{
        margin-left: 0;
    }
    .navbar .nav-menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: var(--primary-black1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1;
    }
    .navbar .nav-menu.active{
        transform: translateX(0);
    }
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(7px);
        z-index: 1;
        background: var(--primary-white);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-7px);
        z-index: 1;
        background: var(--primary-white);
    }
    .navbar .nav-menu li{
        padding: 20px 0;
    }
    .navbar .nav-menu li a{
        font-size: 20px;
        color: var(--primary-white);
    }  
    /* ============== video =============== */
    .video .col-30{
        max-width: 50%;
        flex: 0 0 50%;
    }
    /* =========== clients ============ */
    .clients .col-30{
        max-width: 50%;
        flex: 0 0 50%;
    }
    .clients h4{
        display: none;
    }
    /* =========== footer ================= */
    .footer .col-20{
        max-width: 50%;
        flex: 0 0 50%;
        text-align: center;
    }
    .footer .col-20 .social{
        justify-content: center;
    }
    .footer .col-20:nth-child(5){
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
} 
/* ================ 767px =============== */
@media(max-width:767px){
    /* ========== banner =========== */
    .banner h1{
        font-size: 80px;
        text-align: center;
    }
    /* ============== video =============== */
    .video{
        padding: 50px 0;
    }
    .video .col-30{
        max-width: 100%;
        flex: 0 0 100%;
    }
    /* =========== footer ============= */
    .footer .col-20{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    /* =========== clients ============ */
    .clients{
        padding: 50px 0;
    }
    .clients h2{
        font-size: 45px;
        margin-bottom: 70px;

    }
    .clients .col-30{
        max-width: 100%;
        flex: 0 0 100%;
    }     
}
/* ============ 575px ================= */
@media(max-width: 575px){
    /* ========= navbar =========== */
    .navbar .logo a{
        max-width: 140px;
    }
    .navbar .cmn-btn{
        padding: 14px;
    }
    /* ========== banner =========== */
    .banner h1{
        font-size: 50px;
        text-align: center;
    }
    /* ========== video =========== */
    .video h2{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .video .cmn-btn{
        padding: 15px;
    }
    /* ========== clients ============== */
    .clients h2{
        font-size: 35px;
        margin-bottom: 50px;

    }
    .clients h2::before{
        display: none;
    }
    .clients h2::after{
        display: none;
    }
    .clients .cmn-btn{
        padding: 14px;
    }
}
/* ============ 375px ================= */
@media(max-width: 375px){
    /* ========= navbar ========== */
    .navbar .logo a{
        max-width: 120px;
    }
    .navbar .cmn-btn{
        padding: 10px;
    }
    /* ========== banner =========== */
    .banner h1{
        font-size: 40px;
        text-align: center;
    }
    /* ========== video ======== */
    .video h2{
        font-size: 30px;
        margin-bottom: 40px;
    }
    /* ========== clients ============== */
    .clients h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
}